In [2]:
import numpy as np
import pandas as pd

In [25]:
state0 = pd.read_csv('states0.csv')
state1 = pd.read_csv('states1.csv')
state2 = pd.read_csv('states2.csv')
state3 = pd.read_csv('states3.csv')
state4 = pd.read_csv('states4.csv')
state5 = pd.read_csv('states5.csv')
state6 = pd.read_csv('states6.csv')
state7 = pd.read_csv('states7.csv')
state8 = pd.read_csv('states8.csv')
state9 = pd.read_csv('states9.csv')

In [14]:
display(state3)
display(state5)
display(state6)

,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,0,Iowa,3093526,5.30364520048603%,87.71968408262464%,3.2569866342648868%,0.2897934386391251%,1.699392466585662%,0.055164034021871235%,$53017.75304136253,1534595M_1558931F
1,1,Kansas,2892987,11.644342105263148%,75.95828947368425%,6.5678947368421%,0.7339473684210529%,2.331052631578946%,NaN,$53885.612648221344,1439862M_1453125F
2,2,Kentucky,4397353,3.222993688007212%,85.2307484220019%,8.272317403065832%,0.1666366095581602%,1.1298467087466182%,0.046438232642019836%,$45285.80253623189,2164208M_2233145F
3,3,Louisiana,4625253,4.866489361702128%,54.978546099290796%,36.32624113475175%,0.48430851063829816%,1.669060283687941%,0.039184397163120555%,$44957.99376114082,2261156M_2364097F
4,4,Maine,1329100,1.4319088319088318%,93.70740740740736%,1.1344729344729356%,0.7883190883190888%,0.9658119658119669%,0.01566951566951567%,$49181.97435897436,650081M_679019F
5,5,Maryland,5930538,8.47249820014399%,52.679049676026%,30.6777537796976%,0.20309575233981278%,5.325413966882652%,0.03628509719222463%,$78765.40072463769,2872643M_F

,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,0,Missouri,6045448,4.037247838616718%,77.508069164265%,14.122118155619594%,0.36332853025936646%,1.6244956772334296%,0.10165706051873193%,$49763.98772563177,2964003M_3081445F
1,1,Montana,1014699,3.2688888888888896%,86.41555555555554%,0.4292592592592591%,7.0607407407407425%,0.5703703703703705%,0.07222222222222222%,$47645.682835820895,510163M_F
2,2,Nebraska,1869365,9.203759398496235%,81.13947368421056%,4.956203007518794%,0.8644736842105263%,1.8590225563909788%,0.05714285714285715%,$55916.469696969696,929606M_939759F
3,3,Nevada,2798636,27.100883652430046%,53.23932253313698%,7.739617083946994%,1.0871870397643593%,7.095729013254786%,0.5745213549337267%,$55526.525073746314,1407735M_1390901F
4,4,New Hampshire,1324201,3.3219178082191796%,91.31917808219184%,1.2277397260273974%,0.14280821917808229%,2.191438356164382%,0.016095890410958904%,$68728.8595890411,653484M_670717F
5,5,New Jersey,8904413,18.74950049950049%,56.488761238761285%,14.387862137862117%,0.11533466533466513%,8.159990009990018%,0.031318681318681325%,$76581.08341708542,4343027M_4561386F

,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,0,New Jersey,8904413,18.74950049950049%,56.488761238761285%,14.387862137862117%,0.11533466533466513%,8.159990009990018%,0.031318681318681325%,$76581.08341708542,4343027M_4561386F
1,1,New Mexico,2084117,45.28293172690762%,40.69799196787147%,1.7550200803212852%,9.248594377510045%,1.23433734939759%,0.04277108433734938%,$47329.96787148595,1032414M_1051703F
2,2,New York,19673174,17.241424747786684%,56.4701050030883%,15.668046119003515%,0.32163887173152117%,7.8971587399629355%,0.023450689726168417%,$64290.74911292006,9541801M_10131373F
3,3,North Carolina,9845333,8.464762782128062%,64.5976508521419%,21.3951174573929%,1.0854905573468434%,2.317457392906495%,0.05232611699677568%,$49937.46413697362,4795408M_5049925F
4,4,North Dakota,721640,2.832682926829267%,87.44829268292683%,1.2843902439024397%,5.651219512195119%,0.9619512195121945%,NaN,$58188.112195121954,367963M_353677F
5,5,Ohio,11575977,3.6720843250595037%,75.90306018361096%,16.207276436586163%,0.16888813328799712%,1.6210812648758952%,0.022645358721523304%,$49655.24846625767,5662893M_5913084F

In [22]:
data = state3[['State', 'Income', 'GenderPop']]
data

       State               Income          GenderPop
0       Iowa   $53017.75304136253  1534595M_1558931F
1     Kansas  $53885.612648221344  1439862M_1453125F
2   Kentucky   $45285.80253623189  2164208M_2233145F
3  Louisiana   $44957.99376114082  2261156M_2364097F
4      Maine   $49181.97435897436    650081M_679019F
5   Maryland   $78765.40072463769         2872643M_F

In [23]:
state3.columns

Index(['Unnamed: 0', 'State', 'TotalPop', 'Hispanic', 'White', 'Black',
       'Native', 'Asian', 'Pacific', 'Income', 'GenderPop'],
      dtype='object')

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   State      6 non-null      object
 1   Income     6 non-null      object
 2   GenderPop  6 non-null      object
dtypes: object(3)
memory usage: 136.0+ bytes

In [34]:
us_censes = pd.concat([state0,state1,state2,state3,state4,state5,state6,state7,state8,state9], ignore_index=True)

In [44]:
us_censes.to_csv('us_censes.csv', index=False)
us_censes.head()

,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,0,Alabama,4830620,3.7516156462584975%,61.878656462585%,31.25297619047618%,0.4532312925170065%,1.0502551020408146%,0.03435374149659865%,$43296.35860306644,2341093M_2489527F
1,1,Alaska,733375,5.909580838323351%,60.910179640718574%,2.8485029940119775%,16.39101796407186%,5.450299401197604%,1.0586826347305378%,$70354.74390243902,384160M_349215F
2,2,Arizona,6641928,29.565921052631502%,57.120000000000026%,3.8509868421052658%,4.35506578947368%,2.876578947368419%,0.16763157894736833%,$54207.82095490716,3299088M_3342840F
3,3,Arkansas,2958208,6.215474452554738%,71.13781021897813%,18.968759124087573%,0.5229197080291965%,1.1423357664233578%,0.14686131386861315%,$41935.63396778917,1451913M_1506295F
4,4,California,38421464,37.291874687968054%,40.21578881677474%,5.677396405391911%,0.40529206190713685%,13.052234148776776%,0.35141038442336353%,$67264.78230266465,19087135M_19334329F

In [ ]:
us_